body {
  background-color:#99ffff;
}
div {
  width: auto;
  height: auto;
  background-image: url("755.jpg");
  background-repeat: no-repeat;
}


h1 {
  color: #ff8533;
  font-family: "Arial";
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

p {
  color: black;
  font-family: "Arial";
}

