div {
  width: auto;
  height: auto;
  background-image: url("755.jpg")
}


h1 {
  color: #ff8533;
  font-family: "Arial";
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

p {
  color: black;
  font-family: "Arial";
}

