body {
  background-color:#99ffff;
}
div {
  width: auto;
  height: auto;
  background-image: url("755.jpg");
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}

h1 {
 font-family: "Arial";
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

h1.color1 {
  color: #aa00ff; 
}

h1.color2 {
  color: #ff8533;
}
p {
  color: black;
  font-family: "Arial";
}

